@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-terciario: #167BF7;
    --cor-hover: #EC2F46;
    --cor-bg: #00030C;

    --font-principal: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-bg);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}



.principal {
    background-image: url(/assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: auto;
    padding: 15% 0;
    align-items: center;
    text-align: center;
}

.container {
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 10em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__btn {
    background-color: var(--azul-terciario);
    font-family: var(--font-principal);
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    display: block;
    margin-bottom: 1em;

}

.container__btn:hover {
    background-color: var(--cor-hover);
}


.btn__secundario {
    background-color: transparent;
    font-family: var(--font-principal);
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1rem;
    display: block;
}

.btn__secundario:hover {
    border: 2px solid var(--cor-hover);
}


.container__aviso {
    color: var(--cinza-secundario);
    font-family: var(--font-principal);
}



.secundario__img {
    width: 100%;
    padding: 15% 0 0 0;
}

.secundario {
    align-items: center;
    margin: 0 10em 15em;


}

.descricao__titulo {
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__btn {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
    color: var(--cinza-secundario);
}

.dispositivos {
    text-align: center;

}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2em;
    color: var(--branco-principal);

}

.rodape {
    text-align: center;
    color: var(--cinza-secundario);
    margin-bottom: 3em;
}

.rodape__logo {
    margin: 1.5em;

}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
    margin: 1.5em;

}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
    font-size: 1em;

}

.lista__link:hover a {
    color: var(--cor-hover);
}

.lista__link a:active {
    color: var(--azul-terciario);
}

.rodape__texto {
    font-size: 0.88em;
    margin: 2% 10%;

}

@media (max-width: 1200px) {

    .principal {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        background-size: contain;
        background-position: center;
    }




    .container {
        grid-template-columns: 100%;
        text-align: center;
        padding: 5%;


    }

    .container__caixa {
        margin: 0 10em;
    }

    .container__titulo {
        font-size: 1.5rem;
    }

    .container__img {
        width: 90%;
        margin: 0.5em 0;
    }

    .container__btn {
        padding: 0.75rem;
        margin-bottom: 1em;
    }

    .container__descricao {
        padding: 5% 0;
    }

    .secundario {
        display: flex;
        flex-direction: column-reverse;
    }

    .secundario__imagem {
        width: 100%;
    }

    .secundario__img {
        padding: 0 0 25%;
    }

    .descricao__titulo {
        font-size: 2.5em;
    }

    .lista__link a {
        font-size: 0.5em;

    }

    .secundario__imagem {
        width: 100%;
    }

    .dispositivos {
        margin-top: 8em;

    }

    .dispositivos__titulo {
        font-size: 2.5em;
    }

    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }

    .rodape__lista {
        flex-direction: column;
        gap: 1em;
        font-size: 2em;
    }

    .rodape__texto {
        font-size: 0.75em;

    }

}

@media (max-width: 480px) {

    .principal {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Garantir que o conteúdo use a largura total da tela */
        justify-content: center;
        background-size: contain;
        background-position: center;
    }

    .container {
        height: auto;
        grid-template-columns: 100%;
        text-align: center;
        padding: 5%;
        margin: 0;
        padding: 1em;
    }

    .container__caixa {
        margin: 0;
        padding: 3em;
        margin-top: 3rem;
        width: auto;
        justify-content: center;
    }

    .container__titulo {
        font-size: 1rem;
    }

    .container__btn {
        padding: 1rem;
        font-size: 1rem;
        margin: 1em 0;
    }

    .container__img {
        width: 100%;
        margin: 0.5em 0;
    }

    .secundario {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 3em;
        height: 100%;
    }

    .descricao__titulo {
        font-size: 1.5rem;
        height: 100%;
    }

    .lista__link a {
        font-size: 0.8rem;
    }

    .secundario__imagem {
        width: 100%;
    }

    .dispositivos__titulo {
        margin: 0 0 2rem 0;
    }

    .dispositivos__lista {
        flex-direction: column;
        margin: 0;
    }

    .rodape__logo {
        justify-content: center;
        align-items: center;
    }

    .rodape__lista {
        flex-direction: column;
        gap: 0.5em;
    }

    .rodape__texto {
        font-size: 0.75rem;
    }
}